{% extends "base_cadunico_meso_mercosul.html" %}
{% block styles %}
<style type="text/css">
	.baixar{
		text-align: center;
	}
	.baixar>a>button{
		margin-top: 50px;
		margin-bottom: 50px;
	}
</style>
{% endblock %}

{% block page-header %}
    Estudo sobre o CadÚnico e Programa Bolsa Família (PBF) dos municípios que compõe a Mesorregião da Grande Fronteira do Mercosul.
{% endblock%}

{%block page-header-small%}{%endblock%}

{% block conteudo %}
	<div class="row">
		<div class="col-md-12">
			<p><b>Objetivo geral:</b></p>
			<p>Demonstrar a situação dos municípios que integram a mesorregião da grande fronteira do Mercosul em relação aos inscritos no CadÚnico e aos beneficiários do Programa Bolsa Família, (PBF).</p>
			<p><b>Objetivos específicos:</b></p>
			<ul>
			    <li>Apresentar a relação dos municípios que integram a mesorregião da grande fronteira com sua área, densidade demográfica, população, média de pessoas poe domicílio, PIB, PIB per capita e IDHM;</li>
			    <li>Verificar a quantidade de famílias cadastradas no CadÚnico de cada município que integra a mesorregião;  Estratificar a rendas das pessoas inscritas no Cadúnico de cada município integrante da Mesorregião;</li>
			    <li>Identificar quantidade de famílias e de pessoas beneficiarias do Programa Bolsa Família (PBF);</li>
			    <li>Proporcionar análise descritiva dos dados apresentados por meio de média, mediana, desvio padrão, frequência e ranqueamento dos municípios entre os municípios em relação ao CadÚnico e PBF; </li>
			    <li>Demonstrar o montante de recursos financeiros transferidos ao PBF nos municípios que integram a mesorregião.</li>
			</ul>
			<p><b>Mesorregião da Fronteira do Mercosul.</b></p>
			<p>A Mesorregião da Fronteira do Mercosul, é uma das 13 (treze) mesorregiões brasileiras, compreendidas como regiões estagnadas e de baixa renda. Estas regiões são definidas como prioritárias na implementação de políticas públicas para o desenvolvimento e inclusão social.</p>
			<p> A Mesorregião da Fronteira do Mercosul é formada por 396 (trezentos e noventa e seis) municípios, sendo 42 (quarenta e dois) do estado do Paraná, 131 (cento e trinta e um) no estado de Santa Catarina e 223(duzentos e vinte três) no estado do Rio Grande do Sul.</p>
			<p>De acordo com Cargnin (2014,p...) a criação da Mesorregião está associada à elaboração do documento denominado Plano de Desenvolvimento Sustentável da área da Bacia do Rio Uruguai, no ano de 1997, fruto da mobilização em um primeiro momento, dos atores nos estados do Rio Grande do Sul e de Santa Catarina. </p>
			<p><b>CadÚnico</b></p>
			<p>O Cadastro Único (CadÚnico), foi criado em 2001, é regulamentado pelo Decreto nº 6.135/07 e coordenado pelo Ministério de Desenvolvimento Social e Combate à Fome (MDS), deve ser obrigatoriamente utilizado para seleção de beneficiários e integração de programas sociais do Governo Federal, como o Bolsa Família.</p>
			<p>O Cadastro Único para Programas Sociais é um instrumento de identificação e caracterização socioeconômica das famílias brasileiras de baixa renda, entendidas como aquelas com renda igual ou inferior a meio salário mínimo por pessoa (per capita) ou renda familiar mensal de até três salários mínimos. (788 X 3 = 2.364,00) Suas informações podem ser utilizadas pelos governos: federal, estadual e municipal para obter diagnóstico socioeconômico das famílias cadastradas, para desta forma, possibilitar a análise das suas principais necessidades.</p>
			<p><b>Programa Bolsa Família (PBF)</b></p>
			<p>O PBF somente é concedido para as famílias com renda familiar por pessoa de até R$ 140,00, e a concessão, além de outros fatores, depende de previsão financeira e orçamentária. Enquanto não ocorre a concessão do benefício, as famílias devem manter seus cadastros sempre atualizados (MDS, 2015).</p>
			<p>Método Os dados apresentados foram obtidos junto aos sites do Ministério do Desenvolvimento Social (MDS), Ministério da Integração (MI), Instituto Brasileiro de Geografia e Estatística (IBGE), portal transparência.</p>
			<div class="baixar">
				<a href="/assets/files/dados-pbf-meso-mercosul.xlsx"><button class="btn btn-large btn-success" type="button">Baixar Dados da Pesquisa</button></a>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}{% endblock %}
      