{% extends "base_cadunico.html" %}
{% block styles %}{% endblock %}

{% block page-header %}
    Estudo sobre o CadÚnico e beneficiário do Programa Bolsa Família (PBF). O caso dos municípios de abrangência da AMZOP.
{% endblock%}

{%block page-header-small%}{%endblock%}

{% block conteudo %}
<p><b>Objetivo geral:</b></p>
<p>Verificar e descrever a situação (posição) dos municípios de abrangência da AMZOP, em relação a famílias no cadastro único para programas sociais do governo federal e beneficiários no recebimento do Programa Bolsa Família (PBF).</p>
<p><b>Objetivos específicos:</b></p>
<ul>
    <li>verificar a quantidade de famílias cadastradas no CadÚnico de cada município;</li>
    <li>identificar quantidade de famílias beneficiados pelo Programa Bolsa Família (PBF);</li>
    <li>demonstrar o montante de recursos financeiros transferidos ao PBF nos municípios, e</li>
</ul>

<h3>CadÚnico</h3>
<p>O Cadastro Único (CadÚnico), foi criado em 2001, é regulamentado pelo Decreto nº 6.135/07 e coordenado pelo Ministério de Desenvolvimento Social e Combate à Fome (MDS), deve ser obrigatoriamente utilizado para seleção de beneficiários e integração de programas sociais do Governo Federal, como o Bolsa Família.</p>
<p>O Cadastro Único para Programas Sociais é um instrumento de identificação e caracterização socioeconômica das famílias brasileiras de baixa rendax, entendidas como aquelas com renda igual ou inferior a meio salário mínimo por pessoa (per capita) ou renda familiar mensal de até três salários mínimos.  (788 X 3 = 2.364,00)
Suas informações podem ser utilizadas pelos governos: federal, estaduaiLe municipaL para obter diagnóstico socioeconômico das famílias cadastradas, para desta forma, possibilitar a análise das suas principais necessidades.</p>
<h3>Programa Bolsa Família (PBF)</h3>
<p>O PBF somente é concedido para as famílias com renda familiar por pessoa de até R$ 140,00, e a concessão, além de outros fatores, depende de previsão financeira e orçamentária. Enquanto não ocorre a concessão do benefício, as famílias devem manter seus cadastros sempre atualizados (MDS, 2015).
</p>
<p><a href="/assests/files/apresentacao.pdf">Baixar Apresentação do Projeto</a></p>
{% endblock %}

{% block scripts %}{% endblock %}