{% extends "base_cadunico_.html" %}

{% block conteudo %}
<h3>{{ nome }}</h3>
<div class="row-fluid">
	<div id="map" style="width: 100%; height: 500px;"></div>
</div>
{% endblock %}
{% block menu-geoliberty %}
{% endblock %}

{% block desenvolvimento%}
	<div id="chart_div" style="width: 100%; height: 250px;"></div>
	<div id="chart_div2" style="width: 100%; height: 250px;"></div>
{% endblock %}

{% block page-header %}Municípios CadUnico{% endblock%}{%block page-header-small%}Mapa Municípios e seus dados CadUnico{%endblock%}

{% block scripts %}
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>
<script type="text/javascript">
	var map;

	function init() {
		map = new OpenLayers.Map('map');
		map.addControl(new OpenLayers.Control.LayerSwitcher());

		var gphy = new OpenLayers.Layer.Google("Google Physical", {
			type : google.maps.MapTypeId.TERRAIN
		});
		var gmap = new OpenLayers.Layer.Google("Google Streets", {
			numZoomLevels : 20
		});
		var ghyb = new OpenLayers.Layer.Google("Google Hybrid", {
			type : google.maps.MapTypeId.HYBRID,
			numZoomLevels : 20
		});
		var gsat = new OpenLayers.Layer.Google("Google Satellite", {
			type : google.maps.MapTypeId.SATELLITE,
			numZoomLevels : 22
		});

		var geojson_format = new OpenLayers.Format.GeoJSON();
		map.addLayers([ghyb, gmap, gphy, gsat]);
		'{% if dados != None %}'
		    '{% for pt in municipios %}'
		    	var vector = new OpenLayers.Layer.Vector('{{ pt.municipio }}');
    			vector.addFeatures(geojson_format.read('{{ pt.municipio.mpoly.json|safe }}'));
    			map.addLayer(vector);
   			'{% endfor %}'
   		'{% endif %}'
		
		
		map.setCenter(new OpenLayers.LonLat(-52.843782, -28.179400).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()), 8);
	}
	
	$(function() { init(); });
	</script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      	google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(drawChart);
		google.setOnLoadCallback(drawChart2);
		function drawChart() {

		  var data = google.visualization.arrayToDataTable([
		    ['Município', '%'],
		    {% for a in municipios %}
		    ['{{ a }}', {{ a.porc_populacao_cadunico }}]{% if forloop.last %} {% else %},{% endif %}
		    {% endfor %}
		  ]);
		  var options = {
		    title: '% População Cadastrada CadUnico',
		    hAxis: {title: 'Municípios', titleTextStyle: {color: 'blue'}}
		  };

		  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

		  chart.draw(data, options);

		}

		google.setOnLoadCallback(drawChart);
		function drawChart2() {

		  var data = google.visualization.arrayToDataTable([
		    ['Município', '%'],
		    {% for a in municipios %}
		    ['{{ a }}', {{ a.porc_f_atendidas }}]{% if forloop.last %} {% else %},{% endif %}
		    {% endfor %}
		  ]);
		  var options = {
		    title: '% Famílias Cadastradas no CadUnico Atendidas',
		    hAxis: {title: 'Municípios', titleTextStyle: {color: 'blue'}}
		  };

		  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));

		  chart.draw(data, options);

		}
    </script>

{% endblock %}