.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff !important; 
    background-color: #548b00 !important;
    border-color: #548b00 !important;
}

.pagination>li>a, .pagination>li>span {
    color: #548b00 !important;
}

.menu>a{
    color: #548b00;
    text-align: center;
    font-size: 1.2em;
}

th{
    text-align: center !important;
}

.dados-numericos-tabela{
    text-align: center !important;
}

#legenda>p{
    text-align: right;
    padding-right: 20px;
}

#rodape{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #548b00;
}